@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
	/* fonts */
	--fontheading: ;
	--fontsubheading: ;
	--fonttext: ;
	/* Kleuren */
	--prim: ;
	--sec: ;
}

* {
	/* border: solid 1px; */
}

body {
	margin: 0 auto;
	padding: 0 auto;
}

/* LoginDB Page */

#img-background {
	box-shadow: 0px 0px 30px -15px;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
}

.button {
	background-color: #38343A;
	border: none;
	color: white;
	padding: 5px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

/* Landing Page */

#h_container {
	margin-top: 1.25%!important;
	width: 97%;
	margin: auto;
	height: 94vh;
	border: solid 1px;
	z-index: 2;
}

#header {
	position: sticky;
	margin: auto;
	margin-top: 2vh;
	background-color: black;
	width: 99.5%;
	height: 8vh;
	border-radius: 1%;
	z-index: 3;
}

#h_logo {
	margin-top: -15px;
	height: 9vh;
	margin-left: 1em;
}

#L_tittle-container {
	margin: auto;
	margin-top: 30vh;
	text-align: center;
	width: 40vw;
	z-index: 4;
	text-shadow: 1px 1px white;
}

#L_tittle-container h1 {
	font-size: 3em;
}

#h_nav-1 {
	justify-self: end;
}

#h_nav-1 a {
	margin-top: 1em;
	margin-left: 1em;
	text-decoration: none;
	padding-top: 1em;
	color: white;
	font-size: 1.4em;
	letter-spacing: .25vw;
	font-family: calibri, sans-serif;
}

/* Template onderdeel pagina */

#header-container_c {
	z-index: auto;
	margin-left: 3em;
	margin-top: 1em;
	background-color: black;
	width: 3.5em;
	height: 97vh;
	border-radius: 2%;
}

#header-container {
	display: grid;
	grid-template-columns: repeat(1fr);
}

#header-img_logo {
	height: 10vh;
	margin-top: -1.5em;
	margin-left: .7em;
}

#outputF {
	padding: .5%;
	width: 13rem;
	height: 40vh;
	overflow-y: hidden;
}

#outputP {
	height: 30vh;
	width: 13rem;
}

#footer-nav {
	margin-top: 37.5vh;
}


/* _________________________________________________________________________________ */
/* Over ons */

#container-overons {
	height: 80vh;
	width: 80vw;
	margin: auto;
	z-index: 1;
}

.persoon-beschrijving {
	width: 14vw;
	text-align: center;
}

.persoon-beschrijving h2 {
	font-family: var(--fontsubheading);
	font-size: 2em;
	margin-bottom: 1em;
}
.persoon-beschrijving p {
	font-family: var(--fonttext);
}

.persoon-website img {height: 3vh;}
.persoon-website {
	position: absolute;
}

#over-ons_c {
	width: 40vw;
	padding-top: 4em;
	padding-bottom: 7em;
}

#over-ons_c h1 {font-family: var(--fontheading);}

#over-ons_c h1 {font-family: var(--fontheading);}
#over-ons_c p {font-family: var(--fonttext);}

.photo-persoon {
	width: 14vw;;
	border-radius: 50%;
}

#container-persoon {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	z-index: 2;
}

/* ------------------------------------------ */
/* Content container */

#content-container {
	box-shadow: 0px 0px 30px -15px;
	height: 92vh;
	margin: auto;
	width: 96vw;
	margin-top: -95vh;
	border: solid 1px black;
	box-shadow: 0px 0px 20px -15px;
}

#content-container_2 {
	margin-top: 1em;
	margin-left: 6em;
}

#footer-container {
	width: 85vw;
	display: grid;
	grid-template-columns: repeat(2, auto);
	margin-left: 8em;
}

#auther {justify-self: end;}

footer {
	margin-top: 18em;
}

#container-4 {
	width: 90vw;
	display: grid;
	grid-template-columns: repeat(2, auto);
}

#Fibonacci {
	width: 20vw; 
	height: 200px;
}
#priem {
	width: 20vw;
	height: 200px;
}

/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	#header-container_c {
		width: 15vw;
		margin-left: 1em;
	}

	#L_tittle-container {
		margin-top: 5vh;
		text-align: center;
	}
	footer {margin-top: 6.5em;}
	#particles-js {margin-top: -4.6em;}

	#container-persoon {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
	}

	#container-overons {
		display: grid;
		grid-template-rows: 1fr 1fr;
	}
	#footer-nav {margin-top: 32.5vh;}
}

/* Desktops and laptops ----------- */

@media only screen and (min-width: 1224px) {
	#particles-js {margin-top: -4.8em;}
	footer {margin-top:12.2em;}

/* Large screens ----------- */

@media only screen and (min-width: 1824px) {
	#particles-js {margin-top: -5.8em;}
	footer {margin-top:19em;}

}



